<title>My application deployed automatically</title>
  <h1>How many times a string appears in an array</h1>

box-1 : list of strings<br>
box-2 : string that we want to show how many times it appears<br>
box-3 : number of times that string is appearing<br>

ex.If our list is {tobb,etu,tobb,computer,engineering,tobb}, the string is "tobb", and the number is "3"<br>
then the result will be "true".<br><br>


    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	 <textarea name="input3" rows="10" cols="30">
        </textarea>

        <br>
        <input type="submit">
  </form>

